:root {
    --rouge: #E02424;
    --degtextrouge: linear-gradient(110deg, #F25A5A 0%, #DC2828 100%);
    --degcoeur: radial-gradient(circle at top, #E02424 0%, #7A1414 100%);
    --blanc: #F2F2F2;
    --noir: #0A0A0A;
    --gris: #999999;

    --seriftext: 'Playfair Display', serif;
    --basictext: 'Outfit', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--noir);
    overflow-x: hidden;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    border-bottom: 1px solid;
    border-color: var(--gris);
    color: var(--gris);
    font-family: var(--basictext);
    font-size: 14px;
}

header div a {
    margin-left: 30px;
    text-decoration: none;
    color: var(--gris);
    font-size: 14px;
}

header div a.active {
    color: var(--blanc);
    border-bottom: 1px solid #e02424;
}

.logo{
    text-decoration: none;
    color: var(--gris);
}

/* PARTIE 1 */
.part1 {
    text-align: center;
    position: relative;
    overflow: hidden;
    /* évite que le SVG déborde */
}

.donnee {
    position: relative;
    z-index: 2;
    margin-top: 30px;
    border: 1px solid;
    border-color: var(--gris);
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 26px;
    padding-right: 26px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--basictext);
    color: var(--gris);
    background-color: var(--noir);
}

.point {
    height: 8px;
    width: 8px;
    border-radius: 100%;
    background-color: var(--rouge);
}

.text1 {
    margin-left: 8px;
    font-size: 12px;
}

.part1 h1 {
    position: relative;
    font-family: var(--seriftext);
    font-size: 96px;
    margin-top: 40px;
    font-weight: bold;
    z-index: 2;
}

.fond1 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -55%);
    z-index: 0;
}

.titre1 {
    background: var(--degtextrouge);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 4px 50px var(--rouge);
}

.titre2 {
    color: var(--blanc);
    margin-top: -15px;
}

.soustitre1 {
    position: relative;
    font-size: 20px;
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: var(--gris);
    font-family: var(--basictext);
}

/* Filtre */
.filtre1 {
    position: relative;
    z-index: 2;
    margin-top: 60px;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    border: 1px solid;
    border-color: var(--gris);
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 60px;
    background-color: var(--noir);
}

.nom {
    font-size: 24px;
    margin-right: 100px;
    margin-left: 20px;
    font-family: var(--seriftext);
    color: var(--rouge);
    font-weight: bold;
}

/* MENU DÉROULANT */
.Menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--noir);
    /* Fond très sombre */
    width: 400px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
    z-index: 100;
}

.Menu.open {
    max-height: 500px;
    border-color: #444;
}

/* En-tête (18 indicateurs...) */
.Menu-header {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    border-bottom: 1px solid #222;
    color: #888;
    font-family: var(--basictext);
    font-size: 13px;
    align-items: center;
}

/* Contenu de la liste */
.Menu-content {
    max-height: 350px;
    overflow-y: auto;
}

.Menu-content::-webkit-scrollbar {
    width: 6px;
}

.Menu-content::-webkit-scrollbar-thumb {
    background-color: var(--rouge);
    border-radius: 3px;
}

.Menu-content::-webkit-scrollbar-track {
    background: #111;
}


/* Style de chaque ligne */
.Menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Texte à gauche, point à droite */
    padding: 18px 25px;
    cursor: pointer;
    border-bottom: 1px solid #1a1a1a;
    transition: 0.2s;
}

.Menu-item:hover {
    background-color: #151515;
}

.fleche-filtre {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.Menu.open~.fleche-filtre,
.filtre1 .fleche-filtre {
    transform: rotate(0deg);
}

.filtre1 .Menu.open+.fleche-filtre {
    transform: rotate(180deg);
}

.filtre1:has(.Menu.open) .fleche-filtre {
    transform: rotate(180deg);
}


/* Le texte de l'indicateur */
.item-label {
    font-family: var(--seriftext);
    color: var(--rouge);
    font-size: 24px;
    font-weight: 500;
    text-align: left;
}

/* Le point rouge lumineux */
.item-status {
    width: 10px;
    height: 10px;
    background-color: var(--rouge);
    border-radius: 50%;
    /* L'effet de halo lumineux */
    box-shadow: 0 0 8px 2px rgba(224, 36, 36, 0.6);
}


.text2 {
    font-size: 12px;
    font-family: var(--basictext);
    font-weight: normal;
    margin-bottom: 10px;
    color: var(--gris);
}

.chiffre-total {
    font-size: 96px;
    background: var(--degtextrouge);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: var(--basictext);
    font-weight: bold;
    margin-bottom: 35px;
    text-shadow: 0 4px 50px var(--rouge);
}

/* BOUTONS */
.boutons {
    margin-bottom: 80px;
}

.btn1 {
    font-size: 16px;
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    font-family: var(--basictext);
    background: var(--degtextrouge);
    color: var(--blanc);
    margin-right: 15px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn1:hover {
    box-shadow: 0 0 8px 2px rgba(242, 242, 242, 0.2);
}

.flechedroite {
    margin-left: 15px;
}

.btn2 {
    font-size: 16px;
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    font-family: var(--basictext);
    background: transparent;
    border: 1px solid;
    border-color: var(--gris);
    color: var(--blanc);
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn2:hover {
    box-shadow: 0 0 8px 2px rgba(224, 36, 36, 0.6);
}

/* PARTIE 2 */
.part2 {
    text-align: center;
    margin-bottom: 80px;
}

.stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    border: 1px solid;
    border-color: var(--gris);
    padding: 25px;
    text-align: left;
}

.titre3 {
    font-size: 12px;
    color: var(--gris);
    font-family: var(--basictext);
    margin-bottom: 10px;
}

.info1 {
    font-size: 36px;
    background: var(--degtextrouge);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: var(--basictext);
}

.soustitre2 {
    font-size: 14px;
    color: var(--gris);
    font-family: var(--basictext);
}

/* PARTIE 3 */
.part3 {
    padding-left: 120px;
    padding-right: 120px;
    text-align: center;
}

.part3 h2 {
    text-align: left;
    font-size: 36px;
    font-family: var(--seriftext);
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--blanc);
}

.soustitre3 {
    text-align: left;
    color: var(--gris);
    font-size: 16px;
    font-family: var(--basictext);
}

.soustitre4 {
    text-align: left;
    font-size: 14px;
    margin-top: 5px;
    color: var(--gris);
    font-family: var(--basictext);
    font-style: italic;
}

.coeur-contenu {
    margin: 100px 0 70px 0;
    position: relative;
}

.fond2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    z-index: 0;
}

.coeur {
    position: relative;
    z-index: 2;
    transform-origin: center;
    animation: coeurbeat 1.4s infinite ease-in-out;
}

/* Animation du coeur */
@keyframes coeurbeat {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.06);
    }

    40% {
        transform: scale(1);
    }

    60% {
        transform: scale(1.12);
    }

    100% {
        transform: scale(1);
    }
}

.rythme {
    margin: 40px 0;
}

#Barre-Rythme {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: ecg-draw 2s linear infinite;
}

/* Animation rythme */
@keyframes ecg-draw {
    to {
        stroke-dashoffset: 0;
    }
}

/* bulle cœur */
.bulle-coeur {
    position: absolute;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    pointer-events: none;
    /* pour ne pas gêner le hover */
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 1000;
}

/* ANNEES */
.annees {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 30px;
}

.annees div {
    font-size: 32px;
    color: var(--gris);
    border: 1px solid;
    border-color: var(--gris);
    padding: 8px 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.annees .active {
    border-color: var(--rouge);
    color: var(--blanc);
}

/* Hover effect */
.annees div:hover {
    color: #fff;
    /* texte devient blanc */
    transform: scale(1.1);
    box-shadow: 0 0 8px 2px rgba(224, 36, 36, 0.6);
}

/* STATISTIQUES */
.stat {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 40px;
}

.box {
    border: 1px solid;
    border-color: var(--gris);
}

.titre4 {
    font-size: 20px;
    color: var(--gris);
    font-family: var(--basictext);
    margin-top: 10px;
    margin-bottom: 5px;
}

.info2 {
    font-size: 36px;
    color: var(--blanc);
    font-family: var(--seriftext);
    margin-bottom: 10px;
}

/* Carte */
.part4 {
    margin: 80px 120px 100px 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card2 {
    border: 1px solid;
    border-color: var(--gris);
    padding: 20px;
    text-align: left;
    text-decoration: none;
    transition: all 0.3s ease;
}

.card2 svg {
    margin-bottom: 15px;
}

.titre5 {
    font-size: 20px;
    font-family: var(--basictext);
    color: var(--blanc);
    margin-bottom: 10px;
}

.card2 p {
    font-size: 14px;
    font-family: var(--basictext);
    color: var(--gris);
}

/* Hover effet */
.card2:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 0 8px 2px rgba(224, 36, 36, 0.6);
}


/* FOOTER */
footer {
    margin-top: 20px;
    background-color: var(--noir);
    color: var(--blanc);
    padding: 60px 120px 30px 120px;
    border-top: 1px solid rgba(224, 36, 36, 0.3);
    font-family: var(--basictext);
    margin-top: 80px;
}

/* Conteneur global du contenu du footer */
.contenuFooter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* autorise les éléments flex à passer à la ligne quand il n’y a plus assez de place sur une seule ligne. */
    gap: 40px;
    margin-bottom: 50px;
}

/* Bloc texte de présentation */
.paragrapheFooter {
    flex: 1.5;
    min-width: 280px;
}

.titreFooter {
    font-family: var(--seriftext);
    font-size: 28px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--blanc);
}

.titreFooter span {
    color: var(--rouge);
    text-shadow: 0 0 15px rgba(224, 36, 36, 0.4);
}

/* Texte descriptif */
.paragrapheFooter p {
    color: var(--gris);
    font-size: 15px;
    line-height: 1.6;
    /* l’interligne */
    max-width: 400px;
}

.navFooter {
    display: flex;
    flex: 2;
    justify-content: space-around;
    gap: 30px;
}

/* Titres des groupes de liens */
.groupeNav h4 {
    color: var(--blanc);
    font-family: var(--seriftext);
    text-transform: uppercase;
    /* affichage du texte en MAJUSCULES */
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.groupeNav ul {
    list-style: none;
    padding: 0;
}

.groupeNav ul li {
    margin-bottom: 12px;
}

/* Liens du footer */
.groupeNav ul li a {
    color: var(--gris);
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s ease;
}

.groupeNav ul li a:hover {
    color: var(--rouge);
    padding-left: 5px;
}

.BottomFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    border-top: 1px solid var(--gris);
    font-size: 14px;
    color: var(--gris);
}

.textRouge {
    color: var(--rouge);
    font-weight: 500;
}

.StatueFooter {
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
}

.pointRouge {
    width: 6px;
    height: 6px;
    background-color: var(--rouge);
    border-radius: 50%;
    box-shadow: 0 0 10px var(--rouge);
}

.PasCurseur {
    color: var(--gris);
    font-size: 14px;
    pointer-events: none;
}


@media (max-width: 768px) {
    .contenuFooter {
        flex-direction: column;
    }

    .navFooter {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 50px;
    }
}